body {
    background-color: black;
}
.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 100vh;
    min-width: 100vw;
}
video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.overlay {
    z-index: 1;
    background-color: #000;
    opacity: .9;
    
}

.overlay label {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vw;
    color: #fff;
    font-size: 2rem
}
#overlay-toggle {
    position: absolute;
    display: none
}
.no-hover {
    display: block;
}

.hover {
    display: none
}
#overlay-toggle:checked~.overlay {
    animation-fill-mode: forwards;
    animation-name: fade,hide;
    animation-delay: 0s,600ms;
    animation-duration: 600ms,1ms
}

#overlay-toggle:checked~.overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms
}

@media(hover: hover) {
    .hover {
        display:block
    }

    .no-hover {
        display: none
    }
}

@keyframes fade {
    to {
        opacity: 0
    }
}

@keyframes hide {
    to {
        visibility: hidden
    }
}




#cim {
    display: block;
    margin: auto;
    margin-top: 20%;
    width: fit-content;
}
#beni {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 100px;
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin: 0 30px;
    text-transform: capitalize;
    font-weight: lighter;
    transition: .5s;
}
#beni::after {
    content: '';
    height: 5px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
#beni:hover::after {
    width: 100%;
}
#beni:hover {
    font-size: 102px;
}
#socials {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, 200px);
    text-align: center;
    justify-content: center;
    flex-flow: wrap;
    
}
.social {
    color: white;
    text-align: center;
    margin: 20px;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    transition: 0.5s;
    position: relative;
    
}
a:hover {
    font-size: 27px;
}
a::after {
    content: '';
    height: 2px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
a:hover::after {
    width: 100%;
}

.unmute {
    background: url(Unmute.png) no-repeat;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-size: contain;
    display: block;
    transition: .5s;
}
.mute {
    background: url(Mute.png) no-repeat;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-size: contain;
    display: block;
}
#source {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    transition: 0.5s;
    bottom: 0;
    right: 0;
    position: fixed;
}