
#video {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
z-index: -10;
}
#cim {
    display: block;
    margin: auto;
    margin-top: 20%;
    width: fit-content;
}
#beni {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 100px;
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin: 0 30px;
    text-transform: capitalize;
    font-weight: lighter;
    transition: .5s;
}
#beni::after {
    content: '';
    height: 5px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
#beni:hover::after {
    width: 100%;
}
#beni:hover {
    font-size: 102px;
}
#socials {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    
}
.social {
    color: white;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    transition: 0.5s;
    position: relative;
    
}
a:hover {
    font-size: 27px;
}
a::after {
    content: '';
    height: 2px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
a:hover::after {
    width: 100%;
}

.unmute {
    background: url(Unmute.png) no-repeat;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-size: contain;
    display: block;
    transition: .5s;
}
.mute {
    background: url(Mute.png) no-repeat;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-size: contain;
    display: block;
}